@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron" style="margin-top:20px;">
    <h1 class="display-4">Gi.Di. Automazione</h1>
    <p class="lead">Esempio applicazione Web-Server per comunicazione PLC Siemens S7-1200</p>
    <hr class="my-4">
    <p>Monitoraggio in tempo reale del PLC</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="Home/MonitorSiemens" role="button">Vai al Monitor</a>
    </p>
</div>