@model Luca.Siemens.Models.SiemensPLC
@{
    ViewData["Title"] = "ReadSiemensPLC";
}



@foreach (var item in Model.Data)
{
    if (item.DotNetDataType != typeof(string))
    {
        @Html.TextBoxFor(model => item.RawContent, new { type = "number" })
    }
    else if (item.DotNetDataType == typeof(string))
    {
        @Html.TextBoxFor(model => item.Content, new { type = "text" })
    }
}



<div class="progress">
    <div id="bar" class="progress-bar no-animation" role="progressbar" style="width:@Model.Data[0].Content%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">@Model.Data[0].Content</div>
</div>


