
@{
    ViewData["Title"] = "Monitor PLC Siemens";
}
<h2>@ViewData["Title"]</h2>

<div id="ajaxContainer">
</div>
<div class="loader"></div>

<script>
    function LoadDataa()
    {
        $.ajax({
            type: "POST",
            url: "../Home/GetDb1",
            data: '',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: DataLoaded,
            failure: function (response) {
                alert(response.d);
            }
        });
    }

    function DataLoaded(response) {
        //console.log("fatto");
        //console.log(response);
        $(".loader").hide();
        $("#ajaxContainer").html(response);
    }

    window.setInterval(LoadDataa, 1500);
</script>
<style>
    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        margin: auto;
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>
