@model GiDiSiemens.Models.SiemensMemory
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div id="ajaxContainer">ciao</div>

<script>
    function LoadDataa() {
        $.ajax({
            type: "POST",
            url: "../Ajax/GetDb1",
            data: '',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: DataLoaded,
            failure: function (response) {
                alert(response.d);
            }
        });
    }
    function DataLoaded(response) {
        console.log("fatto");
        console.log(response);
        $("#ajaxContainer").html(response);
    }

    window.setInterval(LoadDataa, 1000);
</script>
